.banner {width: 100%;
    padding: 5px;
    } 

body {
    background-color: #EFEFEF;
    font-family: Georgia, serif;
}


.applemusic-history {
    float: left;
    width: 50%;
    padding: 15px;
    margin-top: 30px;
}

.clear {
    clear: both;
}

.applemusic-vid, .applemusic-interface, .applemusic-history {flex-wrap: wrap;
                                                            flex: 1;}