.banner {width: 100%;
    padding: 5px;
    } 

body {
    background-color: #EFEFEF;
    font-family: Georgia, serif;
}


.applemusic-history {
    float: left;
    padding: 15px;
    margin-top: 30px;
}

.applemusic-vid, .applemusic-interface {flex: 1;}