.banner {width: 100%;
    padding: 5px;
    margin-bottom: 25px;
    } 
.footerbanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footerpics {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #BAB2B5;
    font-family: Georgia, serif;
}

h1, h2, h3 {
    color: #25274D;
}

p, ul {
    color: #000000;
    font-size: 17px;
}

nav a {color: #F81B84;}
nav a:hover{background-color: #4ec5c1;}

/*APPLE MUSIC APPLE MUSIC APPLE MUSIC APPLE MUSIC*/
.twocolumns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.applemusic-history {
    flex: 1;
    background-color: #E7717D;
    margin: 5px 5px 5px 5px;
    border-radius: 4em;
    padding: 25px;
    order: 1;
    width: 40%;
}

.applemusic-vid-interface {
    flex: 1;
    margin: 15px;
    padding: 20px;
    order: 2;
    width: 60%;
}

.bottom-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: 25px;
}

.applemusic-proscons {
    flex: 1;
    margin: 5px 120px 10px 125px;
    padding: 35px;
    order: 1;
    background-color: #E7717D;
    border-radius: 4em;
}

.apple-paymentoptions {
    flex: 1;
    margin: 5px 120px 10px 125px;
    padding: 40px;
    order: 1;
    background-color: #E7717D;
    border-radius: 4em;
} 

/*SPOTIFY SPOTIFY SPOTIFY SPOTIFY SPOTIFY*/

.spotify-twocolumns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.spotify-history {
    flex: 1;
    background-color: #3CC47C;
    margin: 5px 5px 5px 5px;
    border-radius: 4em;
    padding: 25px;
    order: 1;
    width: 40%;
    height: 665px;
}

.spotify-vid-interface {
    flex: 1;
    margin: 15px;
    padding: 20px;
    order: 2;
    width: 60%;
}

.spotifybottom-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin-bottom: 25px;
}

.spotify-proscons {
    flex: 1;
    margin: 5px 120px 10px 125px;
    padding: 35px;
    order: 1;
    background-color: #3CC47C;
    border-radius: 4em;
}

.spotify-paymentoptions {
    flex: 1;
    margin: 5px 120px 10px 125px;
    padding: 40px;
    order: 1;
    background-color: #3CC47C;
    border-radius: 4em;
} 


/*APPLE MUSIC VS. SPOTIFY SPPLE MUSIC VS. SPOTIFY APPLE MUSIC VS. SPOTIFY*/

.logoheader {
    font-size: 60px;
    vertical-align: middle;
    text-align: center;
}
.spotifylogo {
    float: left;
}
.applemusiclogo{
    float: right;
}
.clear {
    clear: both;
}

.critics-writing {
    background-color: #3CC47C;
    padding-top: 3px;
    padding-bottom: 25px;
    text-align: center;
    border-radius: 4em;
    margin: 25px 20px 20px 20px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    text-align: center;
}

.soundguys-article {
    background-color: #fdfdfd;
    border-radius: 3em;
    padding: 20px 20px 20px 20px;
    margin: 0px 30px 35px 0px;
}

.digitaltrends-article {
    background-color: #fdfdfd;
    border-radius: 3em;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 35px 30px;
}

.personal-consensus-statement {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.personal {
    background-color: #E7717D;
    border-radius: 2em;
    padding: 20px 20px 20px 20px;
    margin: 15px 20px 15px 20px;
    overflow: hidden;
}

.consensus {
    background-color: #3CC47C;
    border-radius: 2em;
    padding: 20px 20px 20px 20px;
    margin: 15px 20px 15px 20px;
}






/*.applemusic-history {
    float: left;
    width: 50%;
    padding: 15px;
    margin-top: 30px;
} 

.clear {
    clear: both;
} */

/*.applemusic2columns {
    margin: 15px;
}
/*.applemusic-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}*/

/*.applemusic-column1, .applemusic-column2 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}*/

/*.applemusic-history {
    height: 200px;
    float: left;
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    margin-right: 50px;
    flex:1;
} 

.applemusic-vid-interface {
    width: 50%;
    padding: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
    float: right;
    height: 200px;
}

.applemusic_proscons {
    padding-top: 30px;
    clear: both;
} */